table {
  width: 100%;
  border-collapse: collapse;
  font-weight: 600;
  th,
  td {
    border-bottom: 1px solid #00000069;
    padding: 8px;
  }

  tr:last-child td {
    border-bottom: none;
  }
  .td-hover:hover {
    background-color: #26fd134f;
  }
}
