.atm {
  width: 50%;
  margin: 120px auto 32px auto;
  font-size: 20px;
  font-weight: 600;
  padding: 32px 24px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(255, 255, 255);
  .atm-note {
    border-radius: 8px;
    background-color: white;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .ab {
      color: #f64b1e;
      padding: 8px;
      border-radius: 8px;
      border: 1px solid #f64b1e;
      box-sizing: border-box;
      p {
        margin: 0;
      }
    }
  }
  .topup-img {
    display: flex;
    width: 100%;
    // justify-content: center;
    // align-items: center;
    padding: 0 32px;
    .mbbank {
      width: 100%;
      // text-align: center;
      margin-top: 32px;
      .img-atm {
        width: 60%;
        padding: 0 12px;
        background-color: #002b5b;
        border-radius: 8px;
        color: white;
        // margin: auto;
        .stk-atm {
          padding: 8px 12px;
          display: flex;
          justify-content: space-between;
          text-transform: none;
          text-align: center;
          p {
            margin: 0;
          }
        }
      }
      img {
        width: 120px;
        margin-left: 120px;
      }
    }
  }
  .h-mb {
    text-align: center;
    table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 8px;
      text-align: center;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

      font-size: 14px;
      thead {
        tr {
          th,
          td {
            border-bottom: 1px solid #ddd;
            padding: 8px;
          }
          th {
            background-color: #f2f2f2;
          }
          th:first-child {
            border-top-left-radius: 8px;
          }
          th:last-child {
            border-top-right-radius: 8px;
          }
          tr:last-child td {
            border-bottom: none;
          }
        }
      }
      tbody {
        width: 100%;
        tr {
          td {
            padding: 8px;
          }
        }
      }
    }
    tr:hover {
      background-color: rgba(214, 214, 214, 0.3098039216);
    }
  }
}
