.a {
    width: 100%;
    height: 84px;
    background-color: rgba(67, 66, 68, 0.514);
    position: fixed;
    top:0;
    z-index: 1;
    .header-wrap {
        display: flex;
        justify-content: space-between;
        width: 62%;
        margin: auto;
        height: 84px;
        
        align-items: center;
        border-radius: 4px;
        .logo {
            width: 30%;
            img {
                size: 12px;
                width: 140px;
            }
        }
        .header-mid {
            width: 40%;
            display: flex;
            justify-content: space-evenly;
            li {
                padding: 8px;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
            }
            li:hover {
                border-radius: 8px;
                background-color: #ebe9e9ee;
                a {
                    color: #000000;
                }
            }
        }
        .header-login {
            display: flex;
            width: 20%;
            justify-content: space-around;
            text-transform: uppercase;
            font-weight: 600;
            .login {
                padding: 8px 16px 8px 16px;
                background-color: rgb(85, 105, 197);
                border-radius: 16px;
                .icons {
                    margin-right: 5px;
                }
            }
            .resgiter {
                margin-left: 4%;
                padding: 8px 16px 8px 16px;
                border: 1px solid rgb(132, 158, 206);
                border-radius: 16px;
            }
        }
    }
    .hover-3 {
        --b: 0.1em; /* the thickness of the line */
        --c: #a341db; /* the color */

        color: #0000;
        padding-block: var(--b);
        background: linear-gradient(var(--c) 50%, #000 0) 0%
                calc(100% - var(--_p, 0%)) / 100% 200%,
            linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%)
                var(--b) no-repeat;
        -webkit-background-clip: text, padding-box;
        background-clip: text, padding-box;
        transition: 0.3s var(--_s, 0s) linear,
            background-size 0.3s calc(0.3s - var(--_s, 0s));
    }
    .hover-3:hover {
        --_p: 100%;
        --_s: 0.3s;
    }
    .rainbow {
        background-color: #343a40;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        padding: 8px 16px;
    }

    .rainbow:hover {
        background-image: linear-gradient(
            90deg,
            #00c0ff 0%,
            #940ce2 49%,
            #5537db 80%,
            #00c0ff 100%
        );
        animation: slidebg 5s linear infinite;
    }
}
